.main {
  min-height: 100vh;
  background: linear-gradient(to bottom, #f8e9c7, #ffffff);
}

.btn-amber {
    background-color: #d97706;
  }

  .btn-amber:hover {
    background-color: #b45309;
  }

  .text-amber {
    color: #d97706;
  }
