<div class="homepage">


  <!-- Hero Section -->
  <main class="container text-center py-5">
    <div class="mb-5">
      <h1 class="display-4 fw-bold text-dark">
        Plataforma Web de Joyería <br />
        <span class="text-warning">y Bisutería Artesanal</span>
      </h1>
      <p class="lead text-secondary mt-3 mb-4">
        Permite a autónomos y pymes vender sus productos
      </p>
      <a routerLink="/productos" class="btn btn-warning btn-lg px-4 py-2 shadow-sm">
        Ver productos
      </a>
    </div>

    <div class="mx-auto" style="max-width: 1000px;">
      <img
        src="https://sdmntprwestus.oaiusercontent.com/files/00000000-3d10-6230-8410-4518425cb08e/raw?se=2025-06-21T23%3A45%3A40Z&sp=r&sv=2024-08-04&sr=b&scid=448011d4-4a3d-5c25-952e-d7fd372d777f&skoid=f71d6506-3cac-498e-b62a-67f9228033a9&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-06-21T16%3A26%3A01Z&ske=2025-06-22T16%3A26%3A01Z&sks=b&skv=2024-08-04&sig=nXULXaM6WykCr4bWMjsonGIvT%2BeZU/L9B2swC1b4Kvk%3D"
        alt="Colección de joyería artesanal" class="img-fluid rounded shadow" />
    </div>
  </main>
</div>