<div class="homepage">


  <!-- Hero Section -->
  <main class="container text-center py-5">
    <div class="mb-5">
      <h1 class="display-4 fw-bold text-dark">
        Plataforma Web de Joyería <br />
        <span class="text-warning">y Bisutería Artesanal</span>
      </h1>
      <p class="lead text-secondary mt-3 mb-4">
        Permite a autónomos y pymes vender sus productos
      </p>
      <a routerLink="/productos" class="btn btn-warning btn-lg px-4 py-2 shadow-sm">
        Ver productos
      </a>
    </div>

    <div class="mx-auto" style="max-width: 1000px;">
      <img src="/assets/JOYARTE.png" alt="Colección de joyería artesanal" class="img-fluid rounded shadow" />
    </div>
  </main>
</div>